body {
  font-family: 'Mont', sans-serif;
  font-size: 18px;
  color: #000;
  font-weight: 400;
}

a, .btn, i, img {
  transition: all $fast;

  i {
    transition: all 0s;
  }
}

.title-decor {
  position: relative;
  padding-left: $px-10*5;

  &:before {
    @include pseudoAbs($dark);
    background-image: url('../img/common/title-decor.png');
    max-width: $px-10*3;
    border-radius: 50rem;
    left:0;
    top:0;
  }
}
.left-45{
  left: $px-15*3;
}

.video-wrap{
  aspect-ratio: 1.8;
  background-color: $dark;
  overflow: hidden;
  iframe{
    width: 100%;
    height: 100%;
  }
}
.bg-line{
    background-size: 50% 50%;
    background-repeat: repeat-x;
    background-position: center;
}

.min-height-50{
  min-height: $px-10*5;
}
.aspect-ratio-1-8{
  aspect-ratio: 1.8;
}
.aspect-ratio-7-7{
  aspect-ratio: 7.7;
}
@media (max-width: 1199px) {
  body {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  body {
    font-size: 14px;
  }
  .stage-item{
    margin-bottom: $px-10 * 9;
    &:nth-child(3), &:nth-child(4){
      margin-bottom: 0;
    }
  }
}

@media (max-width: 767px) {

}

@media (max-width: 576px) {
  .stage-item{
    &:nth-child(3){
      margin-bottom: $px-10 * 9;
    }
  }
}