.main-header{
  position: relative;
  &:before{
    @include pseudoAbs(#000);
    opacity: .7;
  }
  .logo{
    max-height: 65px;
    width: auto;
  }
  .nav-link{
    color: #fff;
    padding: $px-5 $px-10;
    border: 2px solid transparent;
    line-height: 1.2;
    border-radius: $px-5;
  }
  .nav-link:hover, .nav-link.active{
    border: 2px solid $danger;
  }
}
.search-form{
  button{
    border-radius: 0 1rem 1rem 0;
  }
}